// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
}

@include respond-to("small") {
  .footer {
    .container {
      height: 80px;
      display: flex;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
